<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        *{
            margin:0;
            padding:0;}
        .daohang{
            margin-top:100px;
        }
        .header{
            margin-left:400px;}
        .ding{
            margin-left: 200px;
        }
        .boot{
            margin-left: 200px;
        }
    </style>
</head>
<body>
<div class="daohang"></div>
<h4 class="ding">温馨提示：404！抱歉!您访问的资源不存在！请输入正确的链接地址，谢谢！</h4>
<div class="header"><img src="/static/img/1.jpg" alt=""></div>
<h5 class="boot"><a href="/index/">点击此处，返回主页面</a></h5>

</body>
</html>